body {
    background-color: #272626;
}

h1 {
    font-size: 2rem;
    color: rgb(241, 44, 44);
}

.evilbottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.evilbottom marquee {
    font-size: 2rem;
    color: rgb(241, 44, 44);
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    animation: fadeIn 2s linear;
}

body {
    color: rgb(241, 44, 44);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 1rem;
}

.mizuki img{
    scale: auto;
    position: absolute;
    top: 10%;
    left: 46.7%;
}

.talk h2 {
    opacity: 0; /* Initially hidden */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    position: absolute;
    text-size-adjust: 0%;
    padding: auto;
    top: 33%;
    left: 54.7%;
    color: rgb(0, 0, 0);
}

.speechBubble img{
    opacity: 0; /*Initially hidden*/
    position: absolute;
    left: 52.5%;
}

.thank{
    color: #020202;
    opacity: 0; 
    top: 35%;
    left: 57.7%;
    position: absolute;
}

.button1, .button2 {
    opacity: 0; /* Initially hidden */
    display: "none";
    margin: 10px;
}

.confetti img{
    display: none;
    position: absolute;
    opacity: 0; /* Initially hidden */
    top: 47%;
    left: 44%;
    transform: scaleX(-1);
    width: 100px;
    height: 100px;
}

.confetti2 img{
    display: none;
    position: absolute;
    opacity: 0; /* Initially hidden */
    top: 47%;
    left: 53%;
    width: 100px;
    height: 100px;
}

.button2 button {
    position: absolute;
    top: 60%;
    left: 52%;
    width: 100px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ff96cb;
    border: 2px solid #d60b77;
    color: #f80606;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.button1 button {

    position: absolute;
    top: 60%;
    left: 44%;
    width: 100px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ff96cb;
    border: 2px solid #d60b77;
    color: #f80606;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.button2 button:hover{
    background-color: #ff1993;
    color: white;
}

.button1 button:hover  {
    background-color: #ff1993;
    color: white;
}

.box img {
    position: absolute;
    top: 5%;
    left: 36%;
    opacity: 0; /* Initially hidden */
}

.question h2{
    color: #020202;
    opacity: 0; /* Initially hidden */
    position: absolute;
    text-size-adjust: 0%;
    top: 35%;
    left: 54.7%;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(1.75);
    }
    100% {
        transform: scale(2);
    }
    
}

@keyframes moveMizuki {
    from{
        top:10%;
    }to{
        top: 45%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
        transform: rotate(-5deg);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
        transform: rotate(5px);
    }
}

@keyframes spinClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinCounterClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
