body {
    background-color: #020202;
}

h1 {
    font-size: 2rem;
    color: rgb(248, 6, 6);
}

.evilbottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.evilbottom marquee {
    font-size: 2rem;
    color: rgb(248, 6, 6);
}

.intro {
    animation: fadeIn 2s linear;
}

body {
    color: rgb(248, 6, 6);
    text-align: center;
    padding: 1rem;
}

.box img {
    position: absolute;
    top: 5%;
    left: 36%;
    opacity: 0; /* Initially hidden */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes test {
    0% {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
        transform: rotate(-5deg);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
        transform: rotate(5px);
    }
}

.shake {
    animation: shake 0.5s;
}